<div class="d-flex px-3 py-3">
  <button class="btn btn-dark" style="background-color: rgb(45, 45, 45) !important;" routerLink="/user/settings"><i
    class="fa-solid fa-arrow-left"></i></button>
</div>

<div class="row m-0 h-100 justify-content-center">
  <div class="col-12 col-lg-3 col-xl-3 col-md-6 col-sm-8">
    <form class="card bg-dark border-0">
      <div class="card-header">
        <h6 class="card-title text-danger mx-2">
          !WARNING: <b>Don't share your password!</b>
        </h6>
      </div>
      <div class="card-body">
        <form [formGroup]="inputForm" class="mx-3">
          <input formControlName="lastPassword" class="input-group-style" placeholder="Last Password" type="password">
          <input formControlName="newPassword" class="input-group-style" placeholder="New Password" type="password">
          <input formControlName="newPasswordAgain" class="input-group-style" placeholder="New Password Again"
                 type="password">
          <input formControlName="confirms" class="input-group-style" placeholder="Confirm the transaction"
                 style="color: forestgreen">
          <p class="mx-2 my-2" style="color: white; font-size: 14px">(You should write <i style="color: forestgreen"><b>"CONFIRM"</b></i>
            in the box.)</p>
          <p *ngIf="notTruePassword" style="color: red; font-size: 15px">You entered your old password incorrectly!</p>
          <p  *ngIf="misMatch" style="color: red; font-size: 17px" class="mx-1">The new password could not match.</p>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn-block send-button mx-3" [disabled]="!inputForm.valid"
                (click)="changePassword()">Change Password
          <i
            class="fa-solid fa-key"
            style="color: forestgreen"></i></button>
      </div>
    </form>
  </div>
</div>
