<div class="row m-0 justify-content-center" style="margin-top: 150px !important;">
  <div class="col-12 col-lg-3 col-xl-3 col-md-6 col-sm-8">
    <form class="card bg-transparent border-0">
      <div class="card-body">
        <form>
          <button class="button-style" style="color: lawngreen" routerLink="/user/change-username"> Change Username <i
            class="fa-solid fa-shuffle"></i></button>
          <button class="button-style" style="color: lawngreen" routerLink="/user/change-password"> Change Password <i
            class="fa-solid fa-key"></i></button>
          <button class="button-style" style="color: red" routerLink="/user/delete-account">Delete My Account <i
            class="fa-solid fa-trash"></i></button>
        </form>
      </div>
    </form>
  </div>
</div>
