.send-button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid gray;
  background-color: rgb(35, 35, 35);
  color: white;
  border-radius: 5px;
}

.send-button:hover {
  background-color: rgb(25, 25, 25);
}

.send-button:disabled {
  background-color: rgb(45, 45, 45);
}

.image-wrappers {
  position: relative;
  overflow: hidden;
}

.image-wrappers img {
  transition: transform .25s ease-in;
  transform: scale(1);
  width: 100%;
}

.image-wrappers img:hover {
  transition: transform .25s ease-in;
  transform: scale(1.2);
  width: 100%;
}
